<%inherit file="homepage/templates/base.htm" />

<%block name="centercontent">
    <div class="my-form-div">
        <h1 class="text-primary">Login</h1>

        <form class="my-form" method='POST' autocomplete="off">
            
            ${ csrf_input }

            ${ form.as_p() }
            
            %if extra:
                ${ extra }
            %endif
            
            <div class="form-buttons">
                <button class="button is-primary is-medium" type="submit">Login</button>
            </div>
        </form>

        <br><br>

        <a href="/account/signup" style="margin-top: 20px;">No account? Make one here!</a>
        
    </div>
</%block>