<%inherit file="base.htm" />

<%block name="pageheader">

    <div id="recipe-header">
        <div>
            <h1>${recipe.name}</h1>
        </div>

        <div>
            %if request.user == recipe.owner:
                <a href="/homepage/edit/${recipe.id}" class="button is-info is-small">Edit recipe</a>
            %endif

            %if recipe.link is not '':
                <a href=${recipe.link} target="_blank" class="button is-info is-small">Original site</a>
            %endif
            
            <a id="toggle-mobile-order" class="button is-small is-warning" onclick="toggleMobileOrder();">Toggle view order</a>
        </div>
    </div>

</%block>

<%block name="maincontent">
    <div id="recipe-container">

        <div id="recipe-content">
            <div class="recipe-gutter"></div>
            
            <div id="recipe-main">

                <div id="directions">
                    <h2>Directions</h2>
                    <ol>
                        %for s in recipe.steps:
                        <li class="my-li direction">${s}</li>
                        <br>
                        %endfor
                    </ol>

                    %if under_dir == 'True':
                        <h2>Notes</h2>
                        <ul>
                            %for n in recipe.notes:
                            <li class="my-li notes">${n}</li>
                            %endfor
                        </ul>
                    %endif
                </div>
                
                <div id="ingredients">
                    <h2>Ingredients</h2>
                    <ul>
                        %for i in recipe.ingredients:
                        <li class="my-li ingredient">${i}</li>
                        %endfor
                    </ul>

                    %if under_dir == 'False':
                        <h2>Notes</h2>
                        <ul>
                            %for n in recipe.notes:
                            <li class="my-li notes">${n}</li>
                            %endfor
                        </ul>
                    %endif
                </div>

            </div>

            <div class="recipe-gutter"></div>
        </div>

    </div>
</%block>
